*, *::before, *::after {
    font-family: Calibri;
  }
  
:root {
    --neutral: #f5af02;
    --wrong: #e53238;
    --correct: #86b817;
}
  
body {
    background-color: var(--neutral);
}
  
body.correct {
    background-color: var(--correct);
}
  
body.wrong {
    background-color: var(--wrong);
}
  
.containerr {
    background-color: #efecea;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    margin: 5px;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;
}

#question {
    border: 1px solid black;
    border-radius: 5px;
    height: 50px;
    padding: 10px;
    width: fit-content;
    
}

#question-container {
   

}
  
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
}
  
.btnn {
    background-color: #0064d2;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
}
  
.btnn:hover {
    border-color: black;
}
  
.btnn.correct {
    background-color: var(--correct);
    color: black;
}
  
.btnn.wrong {
    background-color: var(--wrong);
}
  
.start-btn {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
  
.controls {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.next-btn , .hide {
   display: flex;
   justify-content: center;
   align-items: center;
}
  
.hide {
    display: none;
}

footer {
    background-color: #0e172c
}