*, *::before, *::after {
    font-family: Calibri;
}
  
:root {
    --wrong: #FF6A88;
    --correct: #2B86C5;
}
  
body.correct {
    background-color: var(--correct);
}
  
body.wrong {
    background-color: var(--wrong);
}

.containerr {
    background-image: linear-gradient(to top, #e6e9f0 0%, #eef1f5 100%);
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    margin: 50px;
    height: 50vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    align-content: space-between;
}

#question {
    border-radius: 5px;
    height: 150px;
    padding: 8px;
    width: fit-content;
    font-size: 18px;
    justify-content: center;
}
  
.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 5px;
    padding: 10px;
    margin: 15px 0;
}
  
.btnn {
    background-color: #16A085;
    border: 2px solid #0e172c;
    border-radius: 5px;
    padding: 5px 5px;
    color:#efecea;
    outline: none;
}
  
.btnn:hover {
    border-color: #0e172c;
}
  
.btnn.correct {
    background-color: var(--correct);
    color: #0e172c;
}
  
.btnn.wrong {
    background-color: var(--wrong);
}
  
.start-btn {
    display: flex;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
}
  
.controls {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.next-btn , .hide {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 1.2 rem;
   font-weight: bold;
   padding: 10px 20px;
}
  
.hide {
    display: none;
}

footer {
    border: 2px solid #0e172c;
    margin-top: 90px;
    background-color:#0e172c;
}

#footerBox {
    padding: 2px;
}

#question-container {
    width: fit-content;
}