body {
    font-family: Calibri;
}

.container {
    margin: 5px;
    
    
}
.login-main-container {
    display: flex;
    justify-content: center;
    margin: 15px;
}

.login-container {
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
}

.instruction-container {
    border-radius: 10px;
    padding: 30px;
    justify-items: center;
}

.quiz-main-container {
    border: 1px solid black;
    width: auto;
    height: 800px;
    align-content: center;
}

.question {
    font-size: large;
    border: 1px solid black;
    width: auto;
    height: 100px;
    margin: 15px;
}

.quiz-container {
    border: 1px solid black;
    width: auto;
    height: 500px;
}

.next-btn {
  margin-left: 80%
}

